<!--
Jean-Kenneth Antonio
April 23, 2021
328/dating/views/home.html

Homepage of a dating website
-->

<include href="views/header.html" />

<body>

<!-- Navbar -->
<include href="views/navbar.html" />

<br>

<!-- Content container -->
<div class="border rounded container">

    <div class="row">

        <!-- About section button to create profile -->
        <div class="col-md-6">
            <div class="h1 text-center">
                <br>
                <strong>My Dating Website</strong>
            </div>

            <!-- About paragraph -->
            <div class="h5 mx-4">
                Welcome to the web's most successful dating website. At <strong>My Dating Website </strong>
                you'll meet another like minded individuals. We have the highest success rate of couples
                on the web. User's are matched by interest and location. Find out why so many other have
                found love on our site!
            </div>

            <br>

            <div class="h4 text-center">
                <strong>Hear what our users are saying about us.</strong>
            </div>

            <!-- The quotes -->
            <div class="border-top border-bottom mx-4 px-4">
                <i>
                    "I met the love of my life after only a month!" - Andrea
                </i>

                <br>
                <br>

                <i>
                    "It was so easy to set up and profile and start meeting people. I did
                    not realize how many others were looking for love in my area."
                    - John Smith
                </i>

                <br>
                <br>

                <i>
                    "Just try it! You'll never be the same!" - Sarah
                </i>

                <br>

            </div>

            <!-- create profile button -->
            <div class="text-center m-2">
                <a href="personalinfo"><button type="button" class="btn btn-primary">Create a Profile!</button></a>
            </div>

        </div>

        <!-- The homepage image -->
        <div class="col-md-6">
            <img class="rounded img-fluid m-4" src="images/couple-25c.jpg"
                 alt="A couple on a red bike happy">
        </div>

    </div>

</div>

</body>
</html>