<!--
Jean-Kenneth Antonio
May 8, 2021
328/dating/views/interests.html

This screen gathers two types of interests - outdoor & indoor
-->

<include href="views/header.html"/>

<body>

<!-- Navbar -->
<include href="views/navbar.html"/>

<br>

<!-- Content -->
<div class="border rounded container">
    <h1 class="py-1"><strong>Interests</strong></h1>
    <hr>

    <!-- Personal Info -->
        <form action="#" method="post" class="form-horizontal">
            <!-- Indoor Interests -->
            <div>

            </div>
            <label class="control-label py-1"><strong>In-door Interests</strong></label>

            <div class="container">
                <div class="row row-cols-5">
                    <repeat group="{{ @indoorinterests }}" value="{{ @indoorinterest }}">
                        <label class="form-check-label">
                            <input type="checkbox" name="indoorinterests[]"
                                   value="{{ @indoorinterest }}" class="form-check-input">
                            {{ @indoorinterest }}</label><br>
                    </repeat>
                </div>
            </div>


            <!--  Outdoor Interests -->
            <label class="control-label py-1"><strong>Out-door Interests</strong></label>
            <div class="container">
                <div class="row row-cols-5">
                    <repeat group="{{ @outdoorinterests }}" value="{{ @outdoorinterest }}">
                        <label class="form-check-label">
                            <input type="checkbox" name="outdoorinterests[]"
                                   value="{{ @outdoorinterest }}" class="form-check-input">
                            {{ @outdoorinterest }}</label><br>
                    </repeat>
                </div>
            </div>

            <!-- next button -->
            <div class="text-end m-2 py-2">
                <input type="submit" class="btn btn-primary" value="Next>">
            </div>
        </form>
    </div>


</body>
</html>