<!--
Jean-Kenneth Antonio
May 8, 2021
328/dating/views/profilesummary.html

Displays a summary screen with a Contact Me button
-->

<include href="views/header.html"/>

<body>

<!-- Navbar -->
<include href="views/navbar.html"/>

<br>

<!-- Content -->
<div class="border rounded container">
    <br>
    <div class="row align-items-start px-4">
        <table class="table table-bordered col-sm">
            <tbody>
            <tr>
                <td>Name: {{ @SESSION.profileMember->getFname() }} {{ @SESSION.profileMember->getLname() }}</td>
            </tr>
            <tr>
                <td>Gender: {{ @SESSION.profileMember->getGender() }}</td>
            </tr>
            <tr>
                <td>Age: {{ @SESSION.profileMember->getAge() }}</td>
            </tr>
            <tr>
                <td>Phone: {{ @SESSION.profileMember->getPhone() }}</td>
            </tr>
            <tr>
                <td>Email: {{ @SESSION.profileMember->getEmail() }}</td>
            </tr>
            <tr>
                <td>State: {{ @SESSION.profileMember->getState() }}</td>
            </tr>
            <tr>
                <td>Seeking: {{ @SESSION.profileMember->getSeeking() }}</td>
            </tr>
            <check if="{{ get_class(@SESSION.profileMember) == 'PremiumMember' }}">
                <tr>
                    <td>Interests: {{ implode(", ", @SESSION.profileMember->getInDoorInterests()) }},
                        {{ implode(", ", @SESSION.profileMember->getOutDoorInterests())  }}</td>
                </tr>
            </check>

            </tbody>
        </table>

        <div class="col-sm float-right">
            <div class="text-center">
                <img class="rounded m-4 text-center" src="images/blankprofile.png"
                     alt="A generic blank profile icon">
            </div>

            <div class="h5 px-5">Biography</div>
            <div class="text-center px-5">
                {{ @SESSION.bio }}
            </div>
            <br>
        </div>

        <!-- contact me button -->
        <div class="text-center m-2">
            <a href="">
                <button type="button" class="btn btn-primary">Contact me!</button>
            </a>
        </div>
    </div>

</div>

</body>
</html>